@using TPI_GESTION_HOGAR.Models
@using static System.Runtime.InteropServices.JavaScript.JSType
@model IEnumerable<Turno>

<h2>Turnos</h2>

<a class="btn btn-primary mb-3" href="/Turnos/Create">Crear Turno</a>

<a class="btn btn-secondary mb-3" href="/Turnos/History">Historial de Turnos</a>

<form asp-controller="Turnos" asp-action="Index" method="get">
	<p>
		Nombre: <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
		<input type="submit" value="Búsqueda" />
		<a class="btn " href="/Turnos/Index">Limpiar Filtros</a>
	</p>
</form>

<table class="table table-striped">
	<thead>
		<tr>
			<th>
				<label>ID</label>
			</th>
			<th>
				<a class="text-dark" asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]"><label>Fecha</label></a>
			</th>
			<th>
				<label>Horario</label>
			</th>
			<th>
				<a class="text-dark" asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]"><label>Nombre</label></a>
			</th>	
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var turno in Model)
		{
			if (turno.Fecha.ToDateTime(TimeOnly.MaxValue) >= DateTime.Now)
			{
				<tr>
					<td>
						<label>@turno.ID</label>
					</td>
					<td>
						<label>@turno.Fecha</label>
					</td>
					<td>
						<label>@turno.TipoTurno.Descripcion</label>
					</td>
					<td>
						<label>@turno.Personal.Apellido, @turno.Personal.Nombre</label>
					</td>
					<td>
						<a class="btn btn-sm btn-warning" href="/Turnos/Edit/@turno.ID">Editar</a>
						<a class="btn btn-sm btn-danger" href="/Turnos/Delete/@turno.ID">Eliminar</a>
					</td>
				</tr>
			}
		}
	</tbody>
</table>